text {
  font-family: System-Regular;
}

textarea {
  font-family: System-Regular;
}

#title {
  font-weight: bold;
  font-size: 32;
  text-anchor: middle;
  y: 15;
  x: 50%;
}

#main-text {
  text-anchor: middle;
  fill: white;
}

#main-datum {
}

#add-button {
  x: 50%;
  y: 70%;
  width: 50%;
  display: none;
}

#subtract-button {
  x: 0;
  y: 70%;
  width: 50%;
  display: none;
}

#next-page-button {
  y: 15%;
}
