text {
  font-family: System-Regular;
  font-weight: regular;
  font-size: 32;
  fill: white;
}

#main-datum {
  font-weight: bold;
  font-size: 48;
  text-anchor: middle;
  x: 50%;
  y: 30%;
}

#add-button {
  x: $;
  y: 50%;
  width: 50%;
}

#subtract-button {
  y: 50%;
  width: 50%;
}

#next-page-button {
  y: 75%;
}